<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Chat</title>
</head>
<body>
    <h1>WebSocket Echo</h1>
    <input type="text" id="messageInput" placeholder="Enter a message" />
    <button onclick="sendMessage()">Send</button>
    <h3>Server Messages:</h3>
    <ul id="messages"></ul>

    <script>
        function generateRandomUserId() {
            return 'user_' + Math.random().toString(36).substr(2, 9) + '_' + Date.now();
        }

        const userId = encodeURIComponent(generateRandomUserId());
        console.log(userId);
        const ws = new WebSocket(`ws://localhost:7000/ws/${userId}`);

        ws.onmessage = function(event) {
            const messages = document.getElementById("messages");
            const message = document.createElement("li");
            message.textContent = event.data;
            messages.appendChild(message);
            ws.send(event.data+" client answer");
        };

        function sendMessage() {
            const input = document.getElementById("messageInput");
            // ws.send(input.value);
            fetch(`/send_message?user_id=${userId}&msg=${encodeURIComponent(input.value)}`)
              .then(response => response.json())
              .then(data => {
                console.log(data); // Handle the response
              })
              .catch(error => {
                console.error('Error:', error);
              });
            input.value = "";
        }
    </script>
</body>
</html>
